body {
 background-color:rgb(238, 222, 238)
}

h2 {
   
    margin-bottom: 4pc;
    text-align: center;
    margin-top: 2pc;
    
}

  h2{color: rgb(20, 97, 110);
  font-family:"Tangerine","cursive";
  font-size:4em;
  font-weight:bolder;
  margin-bottom:3pc;
  }


form {
    font-weight: 600;
    font-size: 15px;
}

label {
    float: left;
    color: rgb(37, 78, 97);
  
    font-size: 1.2em;
    width: 30%;


}



.container {
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 5%;
    width: 40%;
}
p{
    color: rgb(228, 250, 203);
    font-size: 1.2em;
}
p>a{
  color: rgb(159, 211, 231);  
}

form {
    margin-left: 8%;
}


input[type="submit"] {
    background-color: rgb(20, 115, 156);
    border-color:rgb(208, 224, 231);
    padding: 5px;
    width: 40%;
    margin-left: 25%;
    margin-top: 7%;
    padding: 2%;
    font-weight: bold;
}
input[type="submit"]:hover
{
    background-color: rgb(15, 144, 204) !important;
   
}

#errors{
    margin-bottom: 4%;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.5)
}


.navbar-toggler 
{
background-color:  rgb(20, 97, 110);
border: 2px solid;
padding: 0.6%;
}
#logo {
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: "Great Vibes", cursive;
    color: rgba(14, 83, 129, 0.979);
}

li>a {
    font-weight: bolder;
    font-size: 2rem;
    font-family: "Tangerine", cursive;
    color: rgba(11, 78, 114, 0.959) !important;

}
.col-10.ml-sm-auto.px-4
{margin-top: 5%;}