meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Fine Bakers
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
link(href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap", rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Courgette&family=Philosopher&family=Playball&display=swap", rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Tangerine&display=swap", rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Prata&display=swap", rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Great+Vibes|Tangerine&display=swap", rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Courgette&display=swap", rel="stylesheet")
link(rel="stylesheet", href="/fontawesome-free-5.14.0-web/css/all.min.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css")
link(rel="stylesheet", href="/stylesheets/style.css")
style(type="text/css").
  .container
  {
    margin-top:10%
  }
  .btn
  {
    background-color: purple
  }
  h1{
    text-align:center;
    margin-bottom:3%
  }
nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.scrolling-navbar
  a.navbar-brand#logo(href="#") Fine Bakers
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link(href="/") Home
      li.nav-item
        a.nav-link(href="#") About US
      li.nav-item
        a.nav-link(href="/Gallery") Gallery
      li.nav-item
        a.nav-link(href="/users/login") Login    
         i.fas.fa-user 
      li.nav-item
        a.nav-link(href="/ShoppingCart")   
         i.fas.fa-shopping-cart
.container
  h1 My shopping Cart
  - var total=0;
    table.table
      thead
        th Name
        th Price
        th Actions
      tbody
        each cakes in cart
          - total += Number(cakes.price)
          tr
            td=cakes.name
            td=cakes.price
            td
              a(href="/cart/removeItem/"+cakes._id, class="btn btn-danger") Remove from cart
      tfoot
        tr
          td Total
          td=total

