meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Document
link(rel="stylesheet", href="/fontawesome-free-5.14.0-web/css/all.min.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
link(href="https://fonts.googleapis.com/css?family=Tangerine&display=swap", rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Great+Vibes|Tangerine&display=swap", rel="stylesheet")
script(src="/javascripts/signUp.js")
link(rel="stylesheet", href="/stylesheets/Additem.css")

nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.scrolling-navbar
  a.navbar-brand#logo(href="/") Fine Bakers
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link(href="/") Home
      li.nav-item
        a.nav-link(href="/aboutus") About US
      li.nav-item
        a.nav-link(href="/Gallery") Gallery
      if !user
        li.nav-item
          a.nav-link(href="/users/login") Login    
           i.fas.fa-user
      else if user
        li.nav-item
          a.nav-link(href="/users/profile") Profile    
        li.nav-item
          a.nav-link(href="/logout") Logout 
           i.fas.fa-sign-out-alt  
      li.nav-item
        a.nav-link(href="/ShoppingCart")   
         i.fas.fa-shopping-cart   
div.col-10.ml-sm-auto.px-4
    if successes
      for success in successes
        div.alert.alert-success #{ success }
          button.close(type="button", data-dismiss="alert") ×

    if errors
      for error, i in errors
        div.alert.alert-danger #{ error } 
          button.close(type="button", data-dismiss="alert") ×
.container
  .row
    .col-md-12.col-md-offset-4
      h2 Update Item
      div#errors #{title}
        form#updateItem(action="/BakeryProducts/updateItem/"+bakeryItem._id, name="updateItem", method="POST")
         .form-group
            label(for="imagepath") Image Path:
            input#imgpath.form-control(type="text", name="imagePath", autofocus,required,value= bakeryItem.imagePath)
         .form-group
            label(for="name") Item Name :
            input#name.form-control(type="text", name="name",required,value= bakeryItem.name)
         .form-group
            label(for="QuantityInStock") Quantity:
            input#qty.form-control(type="number",name="QuantityInStock",required,value= bakeryItem.QuantityInStock)
         .form-group
            label(for="price") Price:
            input#price.form-control(type="number",name="price",required,value= bakeryItem.price)
         .form-group
            label(for="url") Url:
            input#url.form-control(type="url",name="url",required,value= bakeryItem.url)    
         input.btn.btn-primary(type="submit" value="Update")
        br
        br