extends ./layout
block content
  .container
    h1(style="font-family: \'Playball\', cursive;text-align: center;font-weight: bolder;margin-top:20%") Our journey
    .jumbotron
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae quia, eligendi recusandae asperiores consequuntur natus expedita neque officiis odit ex ipsa nostrum exercitationem quaerat, repudiandae, ab nihil voluptates dolorem porro.
    