meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Document
link(rel="stylesheet", href="/fontawesome-free-5.14.0-web/css/all.min.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
link(href="https://fonts.googleapis.com/css?family=Tangerine&display=swap", rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Great+Vibes|Tangerine&display=swap", rel="stylesheet")
link(rel="stylesheet", href="/stylesheets/SignUp.css")
style.
  
  body
      {
          background-image: none;
      }
  .container
  {
      width: 70%;
      margin-left: 12%;
      margin-top:10%
  }
  .container .user
  {
      border: 2px solid black;
      height: 62%;
      width: 100%;
     border-radius:50%;
      margin-top:20%;
  
   
  }
  .container .user img{
      display: block;
      height: 180px;
      width:160px;
      margin-left:16px
      
  }
  label{
    margin-left:10%;
    color:black
  }
  #fst{
    margin-left:40%
  }
  #snd{
    margin-left:2%
  }
nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.scrolling-navbar
  a.navbar-brand#logo(href="#") Fine Bakers
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link(href="/") Home
      li.nav-item
        a.nav-link(href="#") About US
      li.nav-item
        a.nav-link(href="/Gallery") Gallery
      if !user
        li.nav-item
          a.nav-link(href="/users/login") Login    
           i.fas.fa-user
      else if user
        li.nav-item
          a.nav-link(href="/users/profile") Profile    
        li.nav-item
          a.nav-link(href="/logout") Logout 
           i.fas.fa-sign-out-alt  
      li.nav-item
        a.nav-link(href="/ShoppingCart")   
         i.fas.fa-shopping-cart
div.col-10.ml-sm-auto.px-4
    if successes
      for success in successes
        div.alert.alert-success #{ success }
          button.close(type="button", data-dismiss="alert") ×
    if errors
      for error, i in errors
        div.alert.alert-danger #{ error } 
          button.close(type="button", data-dismiss="alert") ×
.container
  .row
    .col-md-4.col-md-offset-4
      .container.user
        img(src="/images/userIcon.png", alt)
    .col-md-8.col-md-offset-4
        h2 Your Pofile
        .form-group
          label(for="name") Name:
          input#name.form-control(type="text", name="name", readonly,value= user.firstname)
        .form-group
          label(for="email") Email:
          input.form-control(type="text",readonly,value=user.email)
        br
        a#fst(href="/users/profile/delete/"+user._id, class="btn btn-danger") Delete Account
        a#snd(href="/users/profile/update/"+user._id, class="btn btn-info") Update Account
